In [8]:
from statistics import mean, stdev, pvariance, variance
import math
import numpy as np
import pandas as pd

# 第二章演習

In [3]:
data = [12, 16, 18, 16, 12, 10, 14, 16, 12, 12]
money = [480, 520, 760, 620, 590, 370, 690, 950, 610, 480]

In [4]:
# 母分散
print(pvariance(data))
print(pvariance(money))

5.96
24441

In [5]:
# 不偏分散
print(variance(data))
print(variance(money))

6.622222222222222
27156.666666666668

In [6]:
np.array([data, money])

array([[ 12,  16,  18,  16,  12,  10,  14,  16,  12,  12],
       [480, 520, 760, 620, 590, 370, 690, 950, 610, 480]])

In [7]:
# 相関係数を算出
np.cov(data, money)[0,1] / (math.sqrt(variance(data)) * math.sqrt(variance(money)))

0.6901335732408652

In [21]:
file_path = "csv/2_income.xlsx"
df = pd.read_excel(file_path)

/opt/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [22]:
df.shape

(4392, 2)

In [23]:
df.head()

   yeduc  income
0      9   50.00
1      9  350.00
2      9  100.00
3      9    0.00
4      9    6.25

In [27]:
# 収入に関して
# 平均
print(df["income"].mean())
# 分散
print(df["income"].var(ddof=0))
# 不偏分散
print(df["income"].var(ddof=1))

258.1326844262295
30140.316140858573
30147.180252938022

In [32]:
# 修学に関して
# 平均
print(df["yeduc"].mean())
# 分散
print(df["yeduc"].var(ddof=0))
# 不偏分散
print(df["yeduc"].var(ddof=1))

13.851775956284152
3.5215177931560047
3.522319778533631

In [33]:
# 共分散(不偏分散を使用した場合)
df.cov(ddof=1)

            yeduc        income
yeduc    3.522320     80.865834
income  80.865834  30147.180253

In [34]:
# 共分散(不偏分散を使用しない場合)
df.cov(ddof=0)

            yeduc        income
yeduc    3.521518     80.847422
income  80.847422  30140.316141

In [31]:
# 相関関係
df.corr()

           yeduc    income
yeduc   1.000000  0.248157
income  0.248157  1.000000

# 3章に関して

### 平均と期待値の違い
平均は標本のデータのみを使用して計算  
期待値はそのデータを生み出す母集団の確率分布を使って計算される。つまり、期待値は標本が手に入る前の標本を生むメカニズムを使って計算される。

### 独立かどうかを調べるには？？
例えば、「朝食を食べている」という事象と「算数 A の平均正答率が 75%以上」という事象が独立かどうかを調べる場合。  
P(正答率が 75%以上) の確率とP(「正答率が 75%以上」|「朝食を食べている」) の確率が一致するかどうかを確認する。  
一致しない場合は独立でないと判断する。

In [40]:
data ={
    "x_150":[0.38,0.08],
    "x_450":[0.28,0.18],
    "x_700":[0.03,0.05],
}

In [41]:
pd.DataFrame(data)

   x_150  x_450  x_700
0   0.38   0.28   0.03
1   0.08   0.18   0.05