In [6]:
from statistics import mean, stdev, pvariance, variance
import math
import numpy as np
import pandas as pd
import statsmodels.api as sm

# 第二章演習

In [3]:
data = [12, 16, 18, 16, 12, 10, 14, 16, 12, 12]
money = [480, 520, 760, 620, 590, 370, 690, 950, 610, 480]

In [4]:
# 母分散
print(pvariance(data))
print(pvariance(money))

5.96
24441

In [5]:
# 不偏分散
print(variance(data))
print(variance(money))

6.622222222222222
27156.666666666668

In [6]:
np.array([data, money])

array([[ 12,  16,  18,  16,  12,  10,  14,  16,  12,  12],
       [480, 520, 760, 620, 590, 370, 690, 950, 610, 480]])

In [7]:
# 相関係数を算出
np.cov(data, money)[0,1] / (math.sqrt(variance(data)) * math.sqrt(variance(money)))

0.6901335732408652

In [21]:
file_path = "csv/2_income.xlsx"
df = pd.read_excel(file_path)

/opt/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [22]:
df.shape

(4392, 2)

In [23]:
df.head()

   yeduc  income
0      9   50.00
1      9  350.00
2      9  100.00
3      9    0.00
4      9    6.25

In [27]:
# 収入に関して
# 平均
print(df["income"].mean())
# 分散
print(df["income"].var(ddof=0))
# 不偏分散
print(df["income"].var(ddof=1))

258.1326844262295
30140.316140858573
30147.180252938022

In [32]:
# 修学に関して
# 平均
print(df["yeduc"].mean())
# 分散
print(df["yeduc"].var(ddof=0))
# 不偏分散
print(df["yeduc"].var(ddof=1))

13.851775956284152
3.5215177931560047
3.522319778533631

In [33]:
# 共分散(不偏分散を使用した場合)
df.cov(ddof=1)

            yeduc        income
yeduc    3.522320     80.865834
income  80.865834  30147.180253

In [34]:
# 共分散(不偏分散を使用しない場合)
df.cov(ddof=0)

            yeduc        income
yeduc    3.521518     80.847422
income  80.847422  30140.316141

In [31]:
# 相関関係
df.corr()

           yeduc    income
yeduc   1.000000  0.248157
income  0.248157  1.000000

# 3章に関して

### 平均と期待値の違い
平均は標本のデータのみを使用して計算  
期待値はそのデータを生み出す母集団の確率分布を使って計算される。つまり、期待値は標本が手に入る前の標本を生むメカニズムを使って計算される。

### 独立かどうかを調べるには？？
例えば、「朝食を食べている」という事象と「算数 A の平均正答率が 75%以上」という事象が独立かどうかを調べる場合。  
P(正答率が 75%以上) の確率とP(「正答率が 75%以上」|「朝食を食べている」) の確率が一致するかどうかを確認する。  
一致しない場合は独立でないと判断する。

In [40]:
data ={
    "x_150":[0.38,0.08],
    "x_450":[0.28,0.18],
    "x_700":[0.03,0.05],
}

In [41]:
pd.DataFrame(data)

   x_150  x_450  x_700
0   0.38   0.28   0.03
1   0.08   0.18   0.05

# 第4章演習

In [1]:
x = [-2,-1,0,1,2]
y = [-4, -2, 3, 1, 2]

In [5]:
np.mean(x)

0.0

In [6]:
np.mean(y)

0.0

In [7]:
np.var(x)

2.0

In [8]:
np.cov(x,y)

array([[2.5 , 3.75],
       [3.75, 8.5 ]])

In [27]:
# 傾き　Cov[X,Y]/V[X](単回帰)
b1 = np.cov(x,y)[0][1] / np.var(x,ddof=1)
b1

1.5

In [13]:
# 切片 E[Y] - E[X]・Cov[X,Y]/V[X](単回帰)
b0 = np.mean(y) - np.mean(x) * np.cov(x,y)[0][1] / np.var(x)
b0

0.0

In [28]:
# 残差の算出
re_list = []
for i in range(len(x)):
    y_predict = b0 + b1 * x[i]
    re = y[i] - y_predict
    re_list.append(re)
re_list

[-1.0, -0.5, 3.0, -0.5, -1.0]

In [29]:
# 残差の二乗和
sum([i**2 for i in re_list])

11.5

In [30]:
# 決定係数(1 - 残差変動/総変動)
1 - sum([i**2 for i in re_list]) / sum([(i - np.mean(y))**2 for i in y])

0.6617647058823529

In [34]:
# 誤差項の分散の推定値
u_2 = sum([i**2 for i in re_list]) / (len(x) - 2)
u_2

3.8333333333333335

In [35]:
# 標準誤差　（誤差高の分散の推定 / x の残差）
np.sqrt(u_2 /  sum([(i - np.mean(x))**2 for i in x]))

0.6191391873668903

In [1]:
# 5-3
y = [2.7, 2.4, 3.3, 3.5]
x = [50, 55, 65, 70]

In [3]:
X = sm.add_constant(x)
 
#モデルの設定
model = sm.OLS(y, X)
 
#回帰分析の実行
results = model.fit()
 
#結果の詳細を表示
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.794
Model:                            OLS   Adj. R-squared:                  0.690
Method:                 Least Squares   F-statistic:                     7.692
Date:                Tue, 11 Jul 2023   Prob (F-statistic):              0.109
Time:                        22:55:06   Log-Likelihood:                0.73099
No. Observations:                   4   AIC:                             2.538
Df Residuals:                       2   BIC:                             1.311
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0250      1.091     -0.023      0.984      -4.719       4.669
x1             0.0500      0.018      2.774      0.109      -0.028       0.128
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   2.862
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.455
Skew:                          -0.687   Prob(JB):                        0.797
Kurtosis:                       2.083   Cond. No.                         463.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/stats/stattools.py:74: ValueWarning: omni_normtest is not valid with less than 8 observations; 4 samples were given.
  warn("omni_normtest is not valid with less than 8 observations; %i "

In [4]:
results.predict()

array([2.475, 2.725, 3.225, 3.475])

In [7]:
sum([i - j for i, j in zip(y, results.predict())])

3.1086244689504383e-15

In [9]:
path = "csv/5_1_income.csv"
df = pd.read_csv(path)

In [10]:
df

      yeduc  income   lincome    lyeduc
0         9   100.0  4.605170  2.197225
1         9    50.0  3.912023  2.197225
2         9   150.0  5.010635  2.197225
3         9   200.0  5.298317  2.197225
4         9   150.0  5.010635  2.197225
...     ...     ...       ...       ...
4322     18   850.0  6.745236  2.890372
4323     18   700.0  6.551080  2.890372
4324     18   650.0  6.476973  2.890372
4325     18   650.0  6.476973  2.890372
4326     18   950.0  6.856462  2.890372

[4327 rows x 4 columns]

In [11]:
x = df["lyeduc"]
y = df["income"]

X = sm.add_constant(x)
 
#モデルの設定
model = sm.OLS(y, X)
 
#回帰分析の実行
results = model.fit()
 
#結果の詳細を表示
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 income   R-squared:                       0.053
Model:                            OLS   Adj. R-squared:                  0.053
Method:                 Least Squares   F-statistic:                     243.3
Date:                Tue, 11 Jul 2023   Prob (F-statistic):           2.07e-53
Time:                        23:11:30   Log-Likelihood:                -28407.
No. Observations:                4327   AIC:                         5.682e+04
Df Residuals:                    4325   BIC:                         5.683e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -515.4796     50.033    -10.303      0.000    -613.570    -417.389
lyeduc       297.5345     19.074     15.599      0.000     260.139     334.930
==============================================================================
Omnibus:                     1247.049   Durbin-Watson:                   0.861
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5603.004
Skew:                           1.331   Prob(JB):                         0.00
Kurtosis:                       7.898   Cond. No.                         57.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [13]:
path = "csv/5_2_sleep.csv"
df = pd.read_csv(path)

In [14]:
df

      commute  sleep
0           0  330.0
1           0  325.0
2           0  352.5
3           0  405.0
4           0  330.0
...       ...    ...
3721      120  422.5
3722      120  390.0
3723      120  365.0
3724      120  405.0
3725      120  435.0

[3726 rows x 2 columns]

In [15]:
x = df["commute"]
y = df["sleep"]

X = sm.add_constant(x)
 
#モデルの設定
model = sm.OLS(y, X)
 
#回帰分析の実行
results = model.fit()
 
#結果の詳細を表示
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sleep   R-squared:                       0.077
Model:                            OLS   Adj. R-squared:                  0.076
Method:                 Least Squares   F-statistic:                     308.7
Date:                Tue, 11 Jul 2023   Prob (F-statistic):           1.87e-66
Time:                        23:18:37   Log-Likelihood:                -19458.
No. Observations:                3726   AIC:                         3.892e+04
Df Residuals:                    3724   BIC:                         3.893e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        431.7653      1.293    334.034      0.000     429.231     434.299
commute       -0.5530      0.031    -17.570      0.000      -0.615      -0.491
==============================================================================
Omnibus:                       33.653   Durbin-Watson:                   1.078
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               39.539
Skew:                           0.168   Prob(JB):                     2.60e-09
Kurtosis:                       3.377   Cond. No.                         72.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [16]:
path = "csv/5_3_abe.csv"
df = pd.read_csv(path)

In [17]:
df

      income  abe
0        0.0   25
1        0.0   10
2        0.0   25
3        0.0   35
4        0.0   20
...      ...  ...
4271  2250.0   45
4272  2250.0   40
4273  2250.0   30
4274  2250.0   40
4275  2250.0   35

[4276 rows x 2 columns]

In [18]:
x = df["income"]
y = df["abe"]

X = sm.add_constant(x)
 
#モデルの設定
model = sm.OLS(y, X)
 
#回帰分析の実行
results = model.fit()
 
#結果の詳細を表示
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    abe   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     10.85
Date:                Tue, 11 Jul 2023   Prob (F-statistic):           0.000995
Time:                        23:27:17   Log-Likelihood:                -17467.
No. Observations:                4276   AIC:                         3.494e+04
Df Residuals:                    4274   BIC:                         3.495e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         43.4372      0.328    132.536      0.000      42.795      44.080
income        -0.0031      0.001     -3.294      0.001      -0.005      -0.001
==============================================================================
Omnibus:                       50.473   Durbin-Watson:                   1.063
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               52.056
Skew:                          -0.270   Prob(JB):                     4.97e-12
Kurtosis:                       3.016   Cond. No.                         526.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# 6 章

In [20]:
path = "csv/6_1_income.csv"
df = pd.read_csv(path)

In [21]:
df

      exper  exper2  yeduc  income   lincome
0         7      49      9   100.0  4.605170
1         8      64      9   150.0  5.010635
2         8      64      9   150.0  5.010635
3        10     100      9   200.0  5.298317
4        10     100      9   300.0  5.703783
...     ...     ...    ...     ...       ...
4294     16     256     18   350.0  5.857933
4295     16     256     18   500.0  6.214608
4296     16     256     18   500.0  6.214608
4297     16     256     18   850.0  6.745236
4298     17     289     18  1000.0  6.907755

[4299 rows x 5 columns]

In [23]:
x = df[["yeduc", "exper", "exper2"]]
y = df["lincome"]

X = sm.add_constant(x)
 
#モデルの設定
model = sm.OLS(y, X)
 
#回帰分析の実行
results = model.fit()
 
#結果の詳細を表示
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                lincome   R-squared:                       0.207
Model:                            OLS   Adj. R-squared:                  0.206
Method:                 Least Squares   F-statistic:                     372.8
Date:                Wed, 12 Jul 2023   Prob (F-statistic):          3.41e-215
Time:                        00:02:35   Log-Likelihood:                -5129.4
No. Observations:                4299   AIC:                         1.027e+04
Df Residuals:                    4295   BIC:                         1.029e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.4855      0.111     22.436      0.000       2.268       2.703
yeduc          0.1175      0.007     16.649      0.000       0.104       0.131
exper          0.1962      0.007     26.179      0.000       0.181       0.211
exper2        -0.0064      0.000    -20.181      0.000      -0.007      -0.006
==============================================================================
Omnibus:                     1489.749   Durbin-Watson:                   1.028
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5682.257
Skew:                          -1.698   Prob(JB):                         0.00
Kurtosis:                       7.493   Cond. No.                     2.13e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.13e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [2]:
path = "csv/6_2_yeduc.csv"
df = pd.read_csv(path)

In [3]:
df

      mocograd  pacograd  yeduc
0            0         0   11.0
1            0         0    9.0
2            0         0   11.0
3            0         0   12.0
4            0         0   11.0
...        ...       ...    ...
3949         1         1   16.5
3950         1         1   16.5
3951         1         1   16.5
3952         1         1   17.5
3953         1         1   17.0

[3954 rows x 3 columns]

In [5]:
x = df["pacograd"]
y = df["mocograd"]

X = sm.add_constant(x)
 
#モデルの設定
model = sm.OLS(y, X)
 
#回帰分析の実行
results = model.fit()
 
#結果の詳細を表示
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               mocograd   R-squared:                       0.161
Model:                            OLS   Adj. R-squared:                  0.161
Method:                 Least Squares   F-statistic:                     757.7
Date:                Sun, 16 Jul 2023   Prob (F-statistic):          9.34e-153
Time:                        00:27:19   Log-Likelihood:                -271.76
No. Observations:                3954   AIC:                             547.5
Df Residuals:                    3952   BIC:                             560.1
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0150      0.005      3.061      0.002       0.005       0.025
pacograd       0.2498      0.009     27.527      0.000       0.232       0.268
==============================================================================
Omnibus:                     1649.843   Durbin-Watson:                   0.013
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6202.843
Skew:                           2.115   Prob(JB):                         0.00
Kurtosis:                       7.444   Cond. No.                         2.43
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [9]:
res = results.resid

In [10]:
x = res
y = df["yeduc"]

X = sm.add_constant(x)
 
#モデルの設定
model = sm.OLS(y, X)
 
#回帰分析の実行
results = model.fit()
 
#結果の詳細を表示
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  yeduc   R-squared:                       0.009
Model:                            OLS   Adj. R-squared:                  0.009
Method:                 Least Squares   F-statistic:                     35.28
Date:                Sun, 16 Jul 2023   Prob (F-statistic):           3.11e-09
Time:                        00:33:30   Log-Likelihood:                -6836.3
No. Observations:                3954   AIC:                         1.368e+04
Df Residuals:                    3952   BIC:                         1.369e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         13.9613      0.022    643.718      0.000      13.919      14.004
0              0.4970      0.084      5.940      0.000       0.333       0.661
==============================================================================
Omnibus:                       86.106   Durbin-Watson:                   0.867
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               45.738
Skew:                           0.023   Prob(JB):                     1.17e-10
Kurtosis:                       2.475   Cond. No.                         3.86
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [11]:
path = "csv/6_3_happy_work.csv"
df = pd.read_csv(path)

In [12]:
x = df["commute"]
y = df["happy_work"]

X = sm.add_constant(x)
 
#モデルの設定
model = sm.OLS(y, X)
 
#回帰分析の実行
results = model.fit()
 
#結果の詳細を表示
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             happy_work   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     2.965
Date:                Sun, 16 Jul 2023   Prob (F-statistic):             0.0852
Time:                        01:25:34   Log-Likelihood:                -5646.3
No. Observations:                3604   AIC:                         1.130e+04
Df Residuals:                    3602   BIC:                         1.131e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.2255      0.034     65.945      0.000       2.159       2.292
commute       -0.0014      0.001     -1.722      0.085      -0.003       0.000
==============================================================================
Omnibus:                      323.164   Durbin-Watson:                   1.813
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              162.935
Skew:                          -0.356   Prob(JB):                     4.16e-36
Kurtosis:                       2.239   Cond. No.                         70.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [13]:
x = df[["commute","income", "yeduc"]]
y = df["happy_work"]

X = sm.add_constant(x)
 
#モデルの設定
model = sm.OLS(y, X)
 
#回帰分析の実行
results = model.fit()
 
#結果の詳細を表示
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             happy_work   R-squared:                       0.011
Model:                            OLS   Adj. R-squared:                  0.011
Method:                 Least Squares   F-statistic:                     13.82
Date:                Sun, 16 Jul 2023   Prob (F-statistic):           5.87e-09
Time:                        01:26:45   Log-Likelihood:                -5627.2
No. Observations:                3604   AIC:                         1.126e+04
Df Residuals:                    3600   BIC:                         1.129e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.8357      0.142     12.949      0.000       1.558       2.114
commute       -0.0025      0.001     -2.935      0.003      -0.004      -0.001
income         0.0005   8.76e-05      5.406      0.000       0.000       0.001
yeduc          0.0202      0.010      1.931      0.054      -0.000       0.041
==============================================================================
Omnibus:                      274.519   Durbin-Watson:                   1.832
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              155.370
Skew:                          -0.363   Prob(JB):                     1.83e-34
Kurtosis:                       2.288   Cond. No.                     2.82e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.82e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [16]:
path = "csv/6_4_minshu.csv"
df = pd.read_csv(path)
df.head()

   income  minshu  yeduc
0     0.0       0      9
1     0.0       0      9
2     0.0      30      9
3     0.0       0      9
4     0.0      50      9

In [17]:
x = df[["income"]]
y = df["minshu"]

X = sm.add_constant(x)
 
#モデルの設定
model = sm.OLS(y, X)
 
#回帰分析の実行
results = model.fit()
 
#結果の詳細を表示
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 minshu   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     4.317
Date:                Sun, 16 Jul 2023   Prob (F-statistic):             0.0378
Time:                        01:32:26   Log-Likelihood:                -18293.
No. Observations:                4218   AIC:                         3.659e+04
Df Residuals:                    4216   BIC:                         3.660e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         43.8237      0.424    103.359      0.000      42.992      44.655
income         0.0025      0.001      2.078      0.038       0.000       0.005
==============================================================================
Omnibus:                      326.839   Durbin-Watson:                   1.958
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              430.049
Skew:                          -0.676   Prob(JB):                     4.13e-94
Kurtosis:                       3.787   Cond. No.                         526.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [18]:
x = df[["income","yeduc"]]
y = df["minshu"]

X = sm.add_constant(x)
 
#モデルの設定
model = sm.OLS(y, X)
 
#回帰分析の実行
results = model.fit()
 
#結果の詳細を表示
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 minshu   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     4.518
Date:                Sun, 16 Jul 2023   Prob (F-statistic):             0.0110
Time:                        01:34:33   Log-Likelihood:                -18290.
No. Observations:                4218   AIC:                         3.659e+04
Df Residuals:                    4215   BIC:                         3.661e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         39.3028      2.125     18.496      0.000      35.137      43.469
income         0.0020      0.001      1.643      0.101      -0.000       0.004
yeduc          0.3349      0.154      2.171      0.030       0.032       0.637
==============================================================================
Omnibus:                      322.117   Durbin-Watson:                   1.960
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              422.705
Skew:                          -0.670   Prob(JB):                     1.62e-92
Kurtosis:                       3.781   Cond. No.                     2.65e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.65e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [19]:
path = "csv/7_1_income.csv"
df = pd.read_csv(path)
df.head()

   female  yeduc   lincome  female_yeduc
0       0      9  4.605170             0
1       0      9  5.010635             0
2       0      9  4.605170             0
3       0      9  5.010635             0
4       0      9  5.329089             0

## 7章

In [22]:
path = "csv/7_3_happy_work.csv"
df = pd.read_csv(path)
df.head()

,commute,female,happy_work,income,yeduc,female_commute,female_yeduc,female_income
0,0,0,3,300.0,11,0,0,0.0
1,0,0,3,300.0,11,0,0,0.0
2,0,0,3,300.0,11,0,0,0.0
3,0,0,3,300.0,11,0,0,0.0
4,0,1,4,0.0,12,0,12,0.0

In [23]:
x = df[["commute","female","female_commute"]]
y = df["happy_work"]

X = sm.add_constant(x)
 
#モデルの設定
model = sm.OLS(y, X)
 
#回帰分析の実行
results = model.fit()
 
#結果の詳細を表示
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             happy_work   R-squared:                       0.004
Model:                            OLS   Adj. R-squared:                  0.003
Method:                 Least Squares   F-statistic:                     4.384
Date:                Mon, 17 Jul 2023   Prob (F-statistic):            0.00437
Time:                        01:34:48   Log-Likelihood:                -4811.2
No. Observations:                3097   AIC:                             9630.
Df Residuals:                    3093   BIC:                             9655.
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const              2.2181      0.052     42.838      0.000       2.117       2.320
commute           -0.0023      0.001     -1.786      0.074      -0.005       0.000
female             0.1213      0.077      1.584      0.113      -0.029       0.272
female_commute    -0.0016      0.002     -0.770      0.441      -0.006       0.002
==============================================================================
Omnibus:                      239.321   Durbin-Watson:                   1.855
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              127.030
Skew:                          -0.338   Prob(JB):                     2.60e-28
Kurtosis:                       2.273   Cond. No.                         171.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [41]:
path = "csv/7_4_minshu.csv"
df = pd.read_csv(path)
df.head()

   city  income  minshu  yeduc  city_income  city_yeduc
0     0     0.0       0      9          0.0           0
1     0     0.0      50      9          0.0           0
2     0     0.0      40      9          0.0           0
3     0     0.0      50      9          0.0           0
4     0     0.0      50      9          0.0           0

In [42]:
x = df[["city", "income", "yeduc", "city_income", "city_yeduc"]]
y = df["minshu"]

X = sm.add_constant(x)
 
#モデルの設定
model = sm.OLS(y, X)
 
#回帰分析の実行
results = model.fit()
 
#結果の詳細を表示
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 minshu   R-squared:                       0.006
Model:                            OLS   Adj. R-squared:                  0.005
Method:                 Least Squares   F-statistic:                     5.033
Date:                Tue, 18 Jul 2023   Prob (F-statistic):           0.000133
Time:                        10:39:16   Log-Likelihood:                -18213.
No. Observations:                4218   AIC:                         3.644e+04
Df Residuals:                    4212   BIC:                         3.648e+04
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          40.9451      3.267     12.532      0.000      34.540      47.351
city           -5.9906      4.266     -1.404      0.160     -14.355       2.374
income          0.0039      0.002      2.009      0.045    9.34e-05       0.008
yeduc           0.2197      0.241      0.910      0.363      -0.254       0.693
city_income    -0.0007      0.002     -0.271      0.787      -0.006       0.004
city_yeduc      0.3478      0.311      1.117      0.264      -0.263       0.958
==============================================================================
Omnibus:                      345.831   Durbin-Watson:                   1.872
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              444.818
Skew:                          -0.724   Prob(JB):                     2.56e-97
Kurtosis:                       3.657   Cond. No.                     7.77e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.77e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [43]:
# 都市部とそれ以外で年収や就学年数が民主党支持感情に与える影響の回帰モデルが異なるかどうか検定
# 10% 水準であれば棄却することができる。
hypothesis = '(city = 0), (city_income = 0), (city_yeduc = 0)'
f_test = results.f_test(hypothesis)
print(f_test)

<F test: F=2.3135749093772424, p=0.0739712801067475, df_denom=4.21e+03, df_num=3>

In [44]:
df

      city  income  minshu  yeduc  city_income  city_yeduc
0        0     0.0       0      9          0.0           0
1        0     0.0      50      9          0.0           0
2        0     0.0      40      9          0.0           0
3        0     0.0      50      9          0.0           0
4        0     0.0      50      9          0.0           0
...    ...     ...     ...    ...          ...         ...
4213     1  2250.0      50     14       2250.0          14
4214     0  2250.0      80     16          0.0           0
4215     0  2250.0      80     16          0.0           0
4216     1  2250.0      40     16       2250.0          16
4217     1  2250.0       0     17       2250.0          17

[4218 rows x 6 columns]

# 操作変数法！

In [46]:
path = "csv/8_income.csv"
df = pd.read_csv(path)
df.head()

   exper  exper2  mbirth  moyeduc  payeduc  sibs  yeduc   lincome
0     19     361       6        9        9     1      9  5.703783
1     19     361       4       12       12     1      9  5.991465
2     19     361       1        9        9     1      9  6.214608
3     19     361       9        9        9     1      9  6.214608
4     23     529       8        9        9     3      9  6.309918

In [51]:
x = df[["payeduc","sibs", "moyeduc",]]
y = df["yeduc"]

X = sm.add_constant(x)
 
#モデルの設定
model = sm.OLS(y, X)
 
#回帰分析の実行
results = model.fit()
 
#結果の詳細を表示
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  yeduc   R-squared:                       0.158
Model:                            OLS   Adj. R-squared:                  0.154
Method:                 Least Squares   F-statistic:                     45.55
Date:                Fri, 21 Jul 2023   Prob (F-statistic):           5.41e-27
Time:                        18:32:43   Log-Likelihood:                -1504.1
No. Observations:                 734   AIC:                             3016.
Df Residuals:                     730   BIC:                             3035.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          9.8074      0.465     21.072      0.000       8.894      10.721
payeduc        0.2106      0.036      5.932      0.000       0.141       0.280
sibs          -0.2472      0.086     -2.862      0.004      -0.417      -0.078
moyeduc        0.1790      0.047      3.769      0.000       0.086       0.272
==============================================================================
Omnibus:                       94.588   Durbin-Watson:                   0.255
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               24.891
Skew:                          -0.007   Prob(JB):                     3.94e-06
Kurtosis:                       2.098   Cond. No.                         116.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [52]:

x = results.fittedvalues
y = df["lincome"]

X = sm.add_constant(x)
 
#モデルの設定
model = sm.OLS(y, X)
 
#回帰分析の実行
results = model.fit()
 
#結果の詳細を表示
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                lincome   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     2.082
Date:                Fri, 21 Jul 2023   Prob (F-statistic):              0.149
Time:                        18:32:45   Log-Likelihood:                -281.91
No. Observations:                 734   AIC:                             567.8
Df Residuals:                     732   BIC:                             577.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          5.8412      0.229     25.524      0.000       5.392       6.290
0              0.0233      0.016      1.443      0.149      -0.008       0.055
==============================================================================
Omnibus:                       17.353   Durbin-Watson:                   1.043
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               32.229
Skew:                           0.105   Prob(JB):                     1.00e-07
Kurtosis:                       4.005   Cond. No.                         248.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [53]:
x = df[["payeduc","sibs", "moyeduc","mbirth"]]
y = df["yeduc"]

X = sm.add_constant(x)
 
#モデルの設定
model = sm.OLS(y, X)
 
#回帰分析の実行
results = model.fit()
 
#結果の詳細を表示
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  yeduc   R-squared:                       0.158
Model:                            OLS   Adj. R-squared:                  0.153
Method:                 Least Squares   F-statistic:                     34.20
Date:                Fri, 21 Jul 2023   Prob (F-statistic):           3.48e-26
Time:                        18:33:39   Log-Likelihood:                -1504.0
No. Observations:                 734   AIC:                             3018.
Df Residuals:                     729   BIC:                             3041.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          9.7519      0.477     20.435      0.000       8.815      10.689
payeduc        0.2115      0.036      5.948      0.000       0.142       0.281
sibs          -0.2452      0.086     -2.836      0.005      -0.415      -0.075
moyeduc        0.1768      0.048      3.706      0.000       0.083       0.270
mbirth         0.0105      0.020      0.531      0.596      -0.028       0.049
==============================================================================
Omnibus:                       90.590   Durbin-Watson:                   0.256
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               24.395
Skew:                          -0.009   Prob(JB):                     5.04e-06
Kurtosis:                       2.107   Cond. No.                         127.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [54]:

x = results.fittedvalues
y = df["lincome"]

X = sm.add_constant(x)
 
#モデルの設定
model = sm.OLS(y, X)
 
#回帰分析の実行
results = model.fit()
 
#結果の詳細を表示
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                lincome   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     2.307
Date:                Fri, 21 Jul 2023   Prob (F-statistic):              0.129
Time:                        18:33:40   Log-Likelihood:                -281.79
No. Observations:                 734   AIC:                             567.6
Df Residuals:                     732   BIC:                             576.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          5.8243      0.229     25.480      0.000       5.376       6.273
0              0.0245      0.016      1.519      0.129      -0.007       0.056
==============================================================================
Omnibus:                       17.315   Durbin-Watson:                   1.045
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               32.159
Skew:                           0.104   Prob(JB):                     1.04e-07
Kurtosis:                       4.004   Cond. No.                         248.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# 傾向スコアマッチング

In [3]:
path = "csv/10_2_work.csv"
df = pd.read_csv(path)
df.head()

   academic15  books15  life15  mocograd  mowork15  pacograd  sibs  work
0           1        1       2         0         0         0     0     0
1           1        8       2         0         0         0     0     0
2           2        6       3         0         0         0     0     0
3           3        8       2         0         0         0     0     0
4           3        3       3         0         0         0     0     0

In [7]:
x = df[["mocograd", "pacograd", "life15", "academic15", "books15"]]
y = df["mowork15"]

X = sm.add_constant(x)
 
#モデルの設定
model = sm.OLS(y, X)
 
#回帰分析の実行
results = model.fit()
 
#結果の詳細を表示
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               mowork15   R-squared:                       0.027
Model:                            OLS   Adj. R-squared:                  0.023
Method:                 Least Squares   F-statistic:                     6.347
Date:                Tue, 25 Jul 2023   Prob (F-statistic):           8.03e-06
Time:                        11:50:43   Log-Likelihood:                -653.46
No. Observations:                1132   AIC:                             1319.
Df Residuals:                    1126   BIC:                             1349.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.9057      0.047     19.312      0.000       0.814       0.998
mocograd       0.0738      0.070      1.052      0.293      -0.064       0.211
pacograd      -0.1057      0.036     -2.959      0.003      -0.176      -0.036
life15        -0.0284      0.017     -1.665      0.096      -0.062       0.005
academic15    -0.0022      0.012     -0.185      0.854      -0.026       0.021
books15       -0.0214      0.006     -3.600      0.000      -0.033      -0.010
==============================================================================
Omnibus:                      209.672   Durbin-Watson:                   0.026
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              239.975
Skew:                          -1.072   Prob(JB):                     7.76e-53
Kurtosis:                       2.296   Cond. No.                         29.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [12]:
df["score"] = results.predict()

In [13]:
x = df[["mowork15", "score"]]
y = df["work"]

X = sm.add_constant(x)
 
#モデルの設定
model = sm.OLS(y, X)
 
#回帰分析の実行
results = model.fit()
 
#結果の詳細を表示
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   work   R-squared:                       0.006
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     3.504
Date:                Tue, 25 Jul 2023   Prob (F-statistic):             0.0304
Time:                        11:54:55   Log-Likelihood:                -811.91
No. Observations:                1132   AIC:                             1630.
Df Residuals:                    1129   BIC:                             1645.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.3313      0.152      2.176      0.030       0.033       0.630
mowork15       0.0756      0.034      2.210      0.027       0.008       0.143
score          0.2216      0.207      1.072      0.284      -0.184       0.627
==============================================================================
Omnibus:                     4405.083   Durbin-Watson:                   2.038
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              184.155
Skew:                          -0.209   Prob(JB):                     1.03e-40
Kurtosis:                       1.069   Cond. No.                         25.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.